.fett {
color:blue 
font-weight:cyan;
font-family: helvetica, arial, sans-serif;}   


body{ background-color: greenyellow;
font-family:'Courier New', Courier, monospace;}   

header{background-color: dodgerblue;
color:cornsilk;
text-align: center;